.mynav {
   
}
/* .navbar-collapse {
    float: right;
} */

.mynav ul {
    align-items: right;
    float: right;
}

.navbar-brand {
    font-weight: bold;
    background-color: lightblue;
}

.nav-item {
    float: right;
}

.card-body img {
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.viz {
    height: 75%;
    object-fit: fill;
}