
.navbar-brand {
    font-weight: bold;
    background-color: lightblue;
}


.card-body img {
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.viz {
    height: 75%;
    object-fit: fill;
}

.viz-image {
    text-align:center;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.viz-head {
    margin-top: 3%;
    margin-left: auto;
}